body{
  background-color: rgb(97, 185, 252);
}

.banner{
  width: 100%;
  height: 550px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
}
.titulo_banner{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boton_banner{
  position: absolute;
  top: 35.5%;
  left: 15%;
  right: 15%;
}
.input_tamaño{
  height: 50px;
  border: 1px solid black;
  outline: none;
  border-radius: 15px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: none;
  background-color: rgba(239, 130, 130, 0.935);
}

.img-container:hover{
  height: 250px;
  background-color: rgb(249, 93, 93);
}

.marginnt{
  margin: none;
}

.texto_container{
  background: rgb(143, 143, 244);
  border: 0px solid black;
}

.card-text1{
  font-family: 'Times New Roman', Times, serif;
  padding: none;
  margin-bottom: 4px;
  border-bottom: 1px solid black; 
}

.footerPokemon{
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  margin-top: 1%;
  display: flex;
  padding-top: 1%;
}
.links{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.links a:link{text-decoration: none; color: white;}
.links a:visited{ text-decoration: none; color: white}
.links a:hover{ text-decoration: none; color: rgb(157, 157, 255); transition: 0.7s;}
.links a:active{ text-decoration: none; color: white}