body{
  background-color: rgb(85, 144, 189);
}

.banner{
  width: 100%;
  height: 450px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
}
.titulo_banner{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
  font-size: 6em;
}
.boton_banner{
  position: absolute;
  top: 27.5%;
  left: 15%;
  right: 15%;
}
.input_tamaño{
  height: 50px;
  border: 1px solid black;
  outline: none;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 3px solid black;
  margin: none;
  background-color: rgba(239, 130, 130, 0.935);
}
.marginnt{
  margin: none;
}